<section id="index-banner">

</section>
<section id="index-restorans">
  <div class="restorans-container">
    <div class="restorans-row">
      <div class="restorans-grid" id="bruno-go">
        <div class="restorans-item bruno">
          <%= embedded_svg("bruno-logo.svg") %>
        </div>
        <h2>Італійська кухня</h2>
        <p>Піца, паста, свіжі салати, напої</p>
      </div>

      <div class="restorans-grid" id="baba-frana-go">
        <div class="restorans-item baba-frana">
          <%= embedded_svg("baba-frana.svg") %>
        </div>
        <h2>Європейська кухня</h2>
        <p>Страви з мяса, борщ, зупа, вареники, узвари, солодке</p>
      </div>

      <div class="restorans-grid" id="barbaris-go">
        <div class="restorans-item barbaris">
          <%= embedded_svg("barbaris.svg") %>
        </div>
        <h2>Японська кухня</h2>
        <p>Суші, супи, та інші японські страви</p>
      </div>
    </div>
  </div>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function(e){
      var $bruno = $("#bruno-go");
      var $baba_frana = $("#baba-frana-go");
      var $barbaris = $("#barbaris-go");

      $bruno.click(function(e){
        e.preventDefault();
        window.location.href = '<%= restorans_item_path(id: 'bruno') %>';
      });

      $baba_frana.click(function(e){
        e.preventDefault();
        window.location.href = '<%= restorans_item_path(id: 'baba-franya') %>';
      });

      $barbaris.click(function(e){
        e.preventDefault();
        window.location.href = '<%= restorans_item_path(id: 'barbarus') %>';
      });

    });
  </script>
</section>

<section id="index-recommended-week">
  <h2>Пропизиція тижня</h2>


  <div id="recommended-week-container">
    <div class="recommended-week-row">



      <% @recommended.each_with_index  do |recommend, index| %>

      <div class="recommended-item <%= cycle('first', 'last') %>">



        <div class="recommended-wrapper" data-product-id="<%= recommend.id %>" data-product-slug="<%= recommend.slug %>" data-product-index="<%= index %>">
          <div class="product_item  <%= recommend.category.slug %> all">
            <%#= product.inspect %>
            <div class="wrapp-me">
              <div class="img-hol">
                <%= image_tag(recommend.avatar.url(:main_big_square)) %>
              </div>
              <div class="descr">
                <div class="price_tag">
                  <p><%= recommend.price.round %></p>
                  <div class="price_currency">
                    <span>грн</span>
                  </div>
                </div>

                <h3><%= recommend.name.truncate(26, separator: ' ') %></h3>
                <div class="hidden-block">
                  <p><%= recommend.description %></p>
                </div>
                <div class="brand-btn-holder">
                  <input type="text" class="quantity" />
                  <a class="order-main-btn" href="#">ЗАМОВИТИ</a>
                </div>
              </div>

            </div>
          </div>
        </div>

        <%#= recommend.inspect %>

      </div>

      <% end %>
    </div>
  </div>


</section>


<section id="index-launch-week">
  <h2>Бізнес-ланч</h2>
  <div class="launch-container">
    <div class="launch-row">
      <div id="launch-slider">

        <% Product.first(2).each do |launch| %>

          <div class="launch-item">


            <div class="launch-wrapper">
              <div class="product_item  <%= launch.category.slug %> all">
                <%#= product.inspect %>
                <div class="wrapp-me">
                  <div class="img-hol">
                    <%= image_tag(launch.avatar.url(:main_big_square)) %>
                  </div>
                  <div class="descr">
                    <div class="price_tag">
                      <p><%= launch.price.round %></p>
                      <div class="price_currency">
                        <span>грн</span>
                      </div>
                    </div>

                    <h3><%= launch.name.truncate(26, separator: ' ') %></h3>
                    <div class="hidden-block">
                      <p><%= launch.description %></p>
                    </div>
                    <div class="brand-btn-holder">
                      <input type="text" class="quantity" />
                      <a class="order-main-btn" href="#">ЗАМОВИТИ</a>
                    </div>
                  </div>

                </div>
              </div>
            </div>


          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
