<!DOCTYPE html>

<%- if @restoran %>
  <% if @restoran.slug == "barbarus" %>
    <html id="barbarus-restoran">
  <% elsif @restoran.slug == "bruno" %>
    <html id="bruno-restoran">
  <% elsif @restoran.slug == "baba-franya" %>
    <html id="baba-franya-restoran">
  <% end %>
<% else %>
  <html>
<% end %>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" />
  <meta name="msapplication-tap-highlight" content="no" />
  <title>IzhakiShop</title>
  <link href='http://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//code.cdn.mozilla.net/fonts/fira.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '539826682828532',
        xfbml      : true,
        version    : 'v2.1'
      });
    };

    (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
</head>
<body unresolved id="header" >
<%#= request.path %>
<section id="magic-wrapper">
  <header>
    <section class="core-header">
      <section class="header-menu-row">
        <div class="logo-element">
          <% if controller_name == 'page' && action_name == 'index' %>
            <%= embedded_svg("logo.svg") %>
          <% else %>
            <%= link_to(embedded_svg("logo.svg"), root_path)%>
          <% end %>

          <%#= link_to_unless current_page?(controller: 'page', action: 'index') || current_page?('/'), embedded_svg('logo.svg'), root_path %>
        </div>
        <div class="work-time">
          <p>12<span>:00</span> &mdash; 22<span>:00</span></p>
          <i>Клуб доставки Їжі</i>
        </div>
        <div class="call-back">
          <p>+38 (097) 097-05-05</p>
          <a href="#call-me">замовити дзвінок</a>
        </div>
        <div class="core-cart">
          <%= link_to '', user_cabinet_index_path, class: 'personal-cabinet' %>
          <div id="cc-element">
            <%= embedded_svg("cart.svg") %>
          </div>
        </div>
      </section>
      <section id="breadcrumbs">
          <ol class="breadcrumb">
            <%= render_breadcrumbs :tag => :li, :separator => "<li class='separator'>/</li>".html_safe %>
          </ol>
      </section>
    </section>

  </header>

<%= yield %>
</section>

<footer>
  <div id="sup-footer-full">

  </div>
  <div id="footer-container">
    <div id="footer-row">
      <div class="footer-left-section">
        <h2>Хто ми?</h2>
        <p>Їжаки — це проект служби доставки їжі з різних закладів на всі смаки та забаганки. Ми доставляємо італійську кухню (піци, пасти, смачнющі соуси), європейську та українську кухню (перші та другі страви, стейки, вареники) та японську кухню (суші, супи, роли). </p>
        <p><%= embedded_svg("bruno-logo-white.svg") %><%= embedded_svg("baba-frana-white.svg") %><%= embedded_svg("barbaris-white.svg") %></p>
      </div>
      <div class="footer-center-section">
        <h2>Умови доставки і оплати</h2>
        <p>Доставка здійснюється нашим кур'єром протягом 15-60 хв після оформлення замовлення.</p>
        <p>Оплата здійснюється по місцю, після отримання замовлення.</p>
        <p>Вартість мінімального замовлення — 49 грн.</p>
      </div>
      <div class="footer-right-section">
        <h2>Контакти</h2>
        <h4><span>+38 (</span>097<span>)</span> 097<span>&mdash;</span>05<span>&mdash;</span>05</h4>
        <a href="#call-back">замовити дзвінок</a>
        <p>ТоВ “Їжаки” <br/>
          вул. Львівська, 16, м. Стрий</p>
      </div>
    </div>
    <div id="sub-footer-row">
      <div class="subfooter-left-section">
        <div id="studio-logo">
          <%= embedded_svg("studio-logo.svg") %>
          <p>Розроблено в студії  М. Вороніна <br/>
            в 2014 році. </p>
        </div>
      </div>
      <div class="subfooter-center-section">
        <ul>
          <li><%= link_to 'Правила користування' %></li>
          <li><%= link_to 'Карта сайту' %></li>
        </ul>
      </div>
      <div class="subfooter-right-section">
        <a id="main-to-top" href="#header">
          <%= embedded_svg("get-top.svg") %>
        </a>
      </div>
    </div>
  </div>
</footer>

</body>
</html>
